.container {
  max-width: 1220px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.logo-parent {
  margin-top: 26px;
  margin-bottom: 17px;

  position: sticky;
  top: 0;
  z-index: 30;
  background: white;
  padding: 20px;
}

.button1{
  cursor: pointer;
}
a{
  text-decoration: none;
}
a:hover{
  opacity: 0.7;
  transition: 0.3s ease-in-out;
}


.button1 a{
  color: white;
  text-decoration: none;
}

.logo{
  display: flex;
  align-items: center;
  gap: 10px;
}

.eventnity{
  font-family: "Montserrat", sans-serif; 
}

.logo-image{
  width:130px;
}

.burger-button img{
  width: 100%;
}

.burger-button{
  background: none;
  border: none;
  width: 40px;
  display: none;
}

.logo-parent a{
  color: #070148;
}

.logo-parent .register a{
  color: white;
  text-decoration: none;
}

.desktop-1-item {
  width: 100%;
  left: 0px;
  top: 0px;
  position: relative;
  margin-bottom: 300px;
}

.desktop-1-child {
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.frame-parent2 {
  top: 280px;
  width: fit-content;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.not-only-can {
  font-size: 40px;
  width: 100%;
  line-height: 1.2;
}

.where-your-event-container1 {
  display: flex;
  justify-content: center;
  font-size: 60px;
  white-space: nowrap;
}

.where-your-event-container {
  width: 100%;
}

.hero_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background: rgba(0, 0, 0, 0.35);
}

.button1 {
  white-space: nowrap;
  left: 50%;
  transform: translateX(-50%);
  top: calc(100% - 44px);
}

.about-salem {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 115px;
  margin-bottom: 150px;
}

.about-eventnity {
  font-size: 40px;
  white-space: nowrap;
  margin-bottom: 36px;
}

.evenity-is-event {
  width: 100%;
}

.about-salem__photos {
  position: relative;
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
}

.rectangle-icon {
  position: static;
  margin-top: -210px;
  margin-left: 235px;
  z-index: 2;
}

.icon-2 {
  top: 420px;
  left: 0px;
  z-index: 1;
}

.evenity-is-event {
  max-width: 380px;
}

.show-program {
  position: relative;
}

.desktop-1-child1,
.explore-beautiful-venues {
  position: static;
  display: block;
}

.explore-beautiful-venues {
  margin-bottom: 50px;
}

.card-1 {
  position: relative;
}

.card-vanue-2 {
  position: absolute;
  left: 320px;
  bottom: 88px;
  top: unset;
  box-sizing: border-box;
  max-width: 300px;
  text-align: center;
}

.card-icon{
  width: 60px;
  position: absolute;
  position: absolute;
    top: -5%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background:#070148 ;
}

.regaele-convention-hall-container {
  font-size: 20px;
}

.card-2 {
  top: 120px;
  right: 0px;
  position: absolute;
  margin-left: auto;
  width: fit-content;
}

.card-2 .card-vanue-2 {
  left: -200px;
  top: 130px;
  bottom: unset;
}

.card-3 {
  bottom: -400px;
  right: 0px;
  position: absolute;
  margin-left: auto;
  width: fit-content;
}

.card-3 .card-vanue-2 {
  left: -200px;

  bottom: 88px;
}

.show-program {
  margin-bottom: 600px;
}

.video {
  margin-bottom: 100px;
}

.video h2 {
  font-size: 60px;
  text-align: center;
}

.video p {
  font-size: 30px;
  text-align: center;
  margin-bottom: 100px;
}

.video__thumb {
  width: 100%;
  height: 597px;
  object-fit: cover;
  object-position: bottom;
  border-radius: 50px;
}

.footer {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  background: #171717;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;

  display: flex;
  font-family: var(--text-xs-leading-4-font-normal);
  align-items: center;
  justify-content: space-between;
}

.footer__contacts {
  text-align: center;
}

.footer p {
  font-size: 16px;
}

.footer .logo {
  width: unset;
}

.footer .eventnity {
  position: relative;
}

.slider{
 position: relative;
 width: 100%;
 margin-bottom: 100px;
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.swiper {
  margin-bottom: 40px;
  max-width: 1920px;
  width:100%;
  height: 70vw;
  max-height: 700px;
}

.swiper-slide img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev{
  color: white !important;
}

.more-about-us-wrapper{
  margin: 0 auto;
}

.slide-1 {
  position: relative;
}

.slide-bg{
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.35);
  top: 0px;
  color: white;
  
}

.slide-bg__text{
  position: absolute;
  text-align: center;
  
  top: 50%;

  left: 50%;
  transform: translate(-50%, -50%);
}

.slide-bg h2{
  font-size: 60px;

}

.slide-bg p{
  font-size: 16px;

  text-align: center;

}

.swiper-pagination-bullet{
  background: white !important;
}

.form{
  margin-bottom: 200px;
}

.form .button1{
  position: static !important;
  transform: none;
  border: none;
}

.form h2{
  font-size: 40px;
  text-align: center;
}

.form input{
  height: 50px;
  border-radius: 5px;
  border: 1px solid black;
  width: 100%;
  max-width: 240px;
}

.form input::placeholder{
  padding-left: 20px;
}

.form__group{
  justify-content: center;
  gap: 10px;
  align-items: center;
  display: flex;
}

#wistia_chrome_23{
  border-radius: 10px !important;
}

.footer__socials img{
  width: 50px;
}

.footer .logo img{
  width: 130px;
}


@media (max-width: 1380px) {
  /* .explore-beautiful-venues {
    font-size: 6.884vw;
  }



  

  .card-2 .card-vanue-2{
    left: -14.493vw;
  }

  .card-2 .card-vanue-2{
    top: 9.42vw;
  }

  .card-1 .card-vanue-2{
    left: 23.188vw;
    bottom: 6.377vw;
  }
  .card-3 .card-vanue-2 {
    bottom: 6.377vw;
    left: -14.493vw;
  }

  .card-3{
    position: absolute;
    bottom: -50vw;
  }

  .regaele-convention-hall-container{
    font-size: 1.449vw;
  } */



  .card-1,
  .card-2,
  .card-3{
    position: relative;
  }

  .card-3{
    top: 200px;
    left: 0px;
    margin-left: 0;
  }

  .card-3 .card-vanue-2{
    right: -200px;
    left: unset;
  }



}

@media (max-width: 1120px) {
  .about-salem {
    flex-direction: column-reverse;
  }

  .desktop-1-item {
    margin-bottom: 150px;
  }

  .about-salme__inner {
    text-align: center;
  }

  .more-about-us-wrapper {
    margin: 0 auto;
  }

  .evenity-is-event {
    max-width: 420px;
  }

  .menu-parent{
    gap: 20px;
  }

  .logo-parent{
    gap:0px;
  }
}

@media (max-width: 970px) {
  .menu-parent {

    gap: 20px;
    justify-content: space-between;
  }

  .logo-parent {
    gap: 0px;
    width: 100%;
  }

  .logo-parent {
    width: unset;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .logo-parent {
    margin: 0;
    z-index: 20;
    background: white;
  }

  .logo {
    margin: 0px;
  }

  .burger-button{
    display: block;
  }

  .burger-button:active{
    opacity: 0.7;
    
  }

  .menu,
  .menu-parent{
    flex-direction: column;
  }
  
  .menu{
    gap: 20px;
    width: 100%;
  }

  .menu-parent{
    position: absolute;
    z-index: 20;
    background: white;
    right: 0px;
    top: 100px;
    padding: 20px;
    border-radius: 20px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }


  .hidden{
    opacity: 0;
    visibility: hidden;
  }
}

@media (max-width: 768px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .menu-parent{
    top: 80px;
    }

    .desktop-1-item{
      margin-bottom: 100px;
    }

  .where-your-event-container1 {
    font-size: 7vw;
  }
  .not-only-can {
    font-size: 4.5vw;
    line-height: 1.6;
  }

  .frame-parent2 {
    top: 250px;
  }

  .explore-beautiful-venues{
    font-size: 12.5vw;
    width: 100%;
  }

  .logo-parent{
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .desktop-1-child1{
    width: 57.031vw;
    height: 87.891vw;
  }

  .card-vanue-2{
    border-radius: 3.906vw;
    padding: 4.036vw 5.208vw;
    font-size: 2.604vw;
    max-width: 39.063vw;
  }

  .regaele-convention-hall-container{
    font-size: 2.604vw;
  }

  .card-1 .card-vanue-2{
    left: 41.667vw;
    bottom: 11.458vw;
  }

  .card-2 .card-vanue-2{
    left: -26.042vw;
    top: 16.927vw;
  }

  .card-3 .card-vanue-2{
    right: -26.042vw;
  }

  .card-icon{
    width: 8vw;
    top:-2vw;
  }

  .logo-image{
    width:120px;
  }
  

  .show-program{
    margin-bottom:340px;
  }

  .form__group{
    flex-direction: column;
    gap: 20px;
    max-width: 300px;
    margin: 0 auto;
  } 
  .form__group .button1{
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    justify-content: center;
  }

  .form__group input{
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
  }

  .video h2{
    font-size: 40px;
  }

  .video p{
    font-size: 16px;
    max-width: 300px;
      margin-left: auto;
      margin-right: auto;
  }

  .video__thumb{
    height: 50vw !important;


  }
  .footer{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-bottom: 0px;
    flex-direction: column;
    gap: 40px;
  }
}

@media (max-width: 670px) {
  .button {
    padding: 20px 40px !important;
    font-size: 16px;
  }


  .about-eventnity{
    font-size: 30px;
  }

  .evenity-is-event{
    font-size: 14px;
    max-width: 360px;
  }

  .logo-mobile {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .desktop-1-item{
    height: 100vw;
  }

  .frame-parent2{
    top:33vw
  }

  .menu-parent .register-wrapper {
    padding: 20px 40px;
    white-space: nowrap;
  }

  .rectangle-icon {
    margin-left: 40vw;
  }

  .menu {
    gap: 10px;
  }

  .about-salem__photos img {
    width: 50vw;
    height: 77vw;
  }

  .slide-bg h2{
    font-size: 40px;
  
  }

  .swiper{
    padding-top: 250px !important;
  }

  .swiper-button-prev,
  .swiper-button-next{
    top:calc(50% + 125px) !important
  }

  .slide-bg__text{
    top: -150px;
    color: black;
    z-index: 20;
    background: white;
    width: 100%;
    max-width: 300px;
  }
  
  .slide-bg p{
    font-size: 13px;
    max-width: 400px;
    text-align: center;
  
  }
}

@media (max-width: 550px) {
  .logo-image{
    width: 100px;
  }

  .logo{
    font-size: 20px;
  }

  .menu-parent{
    top: 70px;
  }
}
